<div class="container-fluid">
<h1 class="mt-4"></h1>
    <% if(locals.flash_messages.success_messages){ %>
        <div class="alert alert-success ml-4" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success! </strong><%= flash_messages.success_messages %>
        </div>
    <% } %>
    <% if(locals.flash_messages.error_messages){ %>
        <div class="alert alert-danger ml-4" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error! </strong><%= flash_messages.error_messages %>
        </div>
    <% } %>
    <div class="row ml-4">
        <div class="clearfix float-right m-2"><a class="text-dark" href="<%= backURL %>"><i class="fas fa-angle-left"></i> Back</a></div>
        <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i><%= title %></div>
       
           <div class="card-body">
                <form  method="POST" action="/admin/change_info/change_password">
                    <div class="form-group">
                        <label>Current Password <span class='error'>*</span></label>
                        <input type="password" name="current_password" class="form-control" placeholder="Enter Current Password" value="<%= data.current_password  %>"/>
                        <% if (errors.current_password) { %>
                          <div class="error"><%= errors.current_password.msg %></div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label>New Password <span class='error'>*</span></label>
                        <input type="password" name="password" class="form-control" placeholder="Enter New Password" value="<%= data.password  %>"/>
                        <% if (errors.password) { %>
                          <div class="error"><%= errors.password.msg %></div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password <span class='error'>*</span></label>
                        <input type="password" name="confirm_password" class="form-control" placeholder="Enter Confirm Password" value="<%= data.confirm_password  %>"/>
                        <% if (errors.confirm_password) { %>
                          <div class="error"><%= errors.confirm_password.msg %></div>
                        <% } %>
                    </div>
                    <button class="btn btn-primary">Save Changes</button>
                </form>     
            </div>
        </div>
    </div>
</div>

